<h2><%= @contact.name %></h2>
<% if @contact.warning == true %>
<h3> Time to Meet Up!! </h3>
<% end %>
<p><%= @contact.lastmeet %></p>
<p> Frequency of Meetups: <%= @contact.frequency %> Weeks</p>

<%= link_to "Back to home", contacts_path  %>
